@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1162px;
  padding: 0 15px;
  margin: 0 auto;
  /* color: #0b244180; */
}
